body {
    margin: 0;
    padding: 0;
    width: 30em;
    min-height: 5em;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    padding: 15px;
    text-align: center;
    min-height: 5em;
  }
  
  h1 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #0078d7;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #005a9e;
  }

  #miczMessage{
    display: none;
    margin: auto;
    min-height: 5em;
    align-items: center;
    justify-content: center;
  }

  #current_folder{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }

  #miczAskUser{
    display: none;
  }

  #miczWarn{
    text-align: center;
  }

  #miczBtn{
    margin-top: 15px;
  }

  #askEmptyPrefix, #folderNotSentWarning{
    color:red;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    display: none;
  }


@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }

  h1 {
      color: #e0e0e0;
  }

  p {
      color: #aaaaaa;
  }

  button {
      background-color: #1e88e5;
      color: #ffffff;
  }

  button:hover {
      background-color: #1565c0;
  }

  #askEmptyPrefix, #folderNotSentWarning {
      color: #ff5252;
  }

}